 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&family=Roboto:wght@400;500;700&display=swap');

 body {
   font-family: 'Roboto', sans-serif;
 }

 h1,
 h2,
 h3 {
   font-family: 'Manrope', sans-serif;
 }

 html,
 body,
 #root {
   margin: 0;
   padding: 0;
   width: 100%;
   overflow-x: hidden;
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--color-bg-light);
 }

 :root {
   --color-primary: #029474;
   --color-accent: #c90707;
   --color-accent-muted: #028090;
   --color-bg-light: #fbfddb;
   --color-bg-muted: #fdfeea;
   --color-text-dark: #3d3c21;
   --color-text-light: #ffffff;
 }


 .logo-container {
   width: 100%;
   text-align: center;
   margin: 0px 0;
   background-color: var(--color-primary);

 }

 .logo {
   font-family: sans-serif;
   font-weight: 700;
   text-decoration: underline;
   text-decoration-thickness: 3px;
   font-size: 4rem;
   color: var(--color-bg-muted);
   letter-spacing: 2px;
 }

 .hero {
   padding: 40px 0;
   background: var(--color-bg-light);
   width: 100%;
   display: flex;
   align-items: center;
   margin-top: 100px;
 }

 .hero-grid {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   min-height: 400px;
 }

 .hero-div {
   border: 1px solid var(--color-accent-muted);
   padding: 20px 30px;
   border-radius: 10px;
   box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
   background-color: var(--color-bg-muted);
 }

 .hero-title {
   font-size: 1.6rem;
   line-height: 1.2;
   font-weight: 800;
   color: var(--color-text-dark);
 }

 @media (min-width: 768px) {
   .hero-title {
     font-size: 3rem;
   }
 }

 .hero-text {
   margin: 15px 0;
   font-size: 1rem;
 }

 /* ABOUT */
 .about {
   background: var(--color-primary);
   color: var(--color-text-light);
   width: 100%;
 }

 .about h3 {
   text-decoration: underline;
   text-underline-offset: 5px;
   text-decoration-thickness: 2px;
 }

 .about-grid {
   display: grid;
   grid-template-columns: 1fr;
   border-top: 1px solid var(--color-accent-muted);
 }

 @media (min-width: 768px) {
   .about-grid {
     grid-template-columns: repeat(3, 1fr);
   }
 }

 .about-box {
   padding: 40px 20px;
   border-bottom: 1px solid var(--color-accent-muted);
   text-align: center;
 }

 @media (min-width: 768px) {
   .about-box {
     padding: 48px;
     border-bottom: none;
     border-right: 1px solid var(--color-bg-light);
     text-align: left;
   }

   .about-box:last-child {
     border-right: none;
   }
 }

 button {
   background: var(--color-accent);
   border: 2px solid var(--color-accent);
   color: var(--color-text-light);
   padding: 10px 24px;
   border-radius: 8px;
   font-weight: 600;
   transition: all 0.2s;
   margin-left: 8px;
   margin-top: 10px;
 }

 button:hover {
   background: transparent;
   border-color: var(--color-accent);
   color: var(--color-text-dark);
   cursor: pointer;
 }

 .dr-grid-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, auto);
   gap: 20px;
 }

 .main-card {
   grid-row: span 2;
 }

 .main-card p {
   text-align: justify;
 }

 @media (max-width: 768px) {
   .dr-grid-container {
     grid-template-columns: 1fr;
     grid-template-rows: auto;
   }

   .main-card {
     grid-row: auto;
   }
 }

 .dr-info h1 {
   text-align: center;
   padding: 1rem 1.5rem;
   color: var(--color-bg-light);
   background-color: var(--color-accent);
   margin-top: 1px;
 }

 .dr-info {
   margin-bottom: 30px;
   background-color: var(--color-bg-light);
 }

 .info-div {
   text-align: center;
   background-color: var(--color-bg-muted);
   border: 2px solid #eae6e6;
   border-radius: 15px;
   padding: 0.5rem 4rem;
   color: var(--color-text-dark);
   font-weight: 500;
   width: 100%;
   max-width: 20rem;
   margin: 20px auto;
 }

 @media (max-width: 1030px) and (min-width: 768px) {
   .info-div {
     padding: 0.5rem 3rem;
     max-width: 18rem;
   }
 }

 @media (max-width: 767px) {
   .info-div {
     padding: 0.5rem 1.5rem;
     max-width: 100%;
   }
 }

 .info-div:hover {
   box-shadow: 0 0 10px rgba(81, 80, 80, 0.2);
   border: 2px solid #ebdfdf;
 }

 .footer {
   text-align: center;
   color: #b3b4a9;
   background-color: #292929;
   margin: 0px 0px;
   padding-top: 30px;
   padding-bottom: 20px;
 }